@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Rubik', sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  scroll-behavior: smooth;
}

.accordion-trigger > svg {
  display: none;
}

.hero-swiper {
  --swiper-navigation-color: #717171;
  --swiper-navigation-size: 15px;
  --swiper-pagination-color: #0FB2AB;
  --swiper-pagination-bullet-inactive-color: #ffffff;
  --swiper-pagination-bullet-inactive-opacity: 0.8;
}

.middle-swiper {
  --swiper-navigation-color: #717171;
  --swiper-pagination-color: #0FB2AB;
  --swiper-pagination-bullet-inactive-color: #A9A8A8;
  --swiper-pagination-bullet-inactive-opacity: 0.8;
  --swiper-pagination-top: 100px;
}

.procedure-swiper {
  --swiper-navigation-color: #717171;

}

#rd-section-m5zotmde {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  box-sizing: border-box !important;
  max-width: 100% !important;
  width: 100% !important; 
}

#rd-row-m5zotmdj {
  min-width: 100% !important;
}

@media (width >= 1024px) {
  .custom-rd-form {
    min-width: 100% !important;
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
  }
}

@media (width >= 1024px) {
  #bricks-component--dllWqWP5IjtasBxmpueog {
    min-width: 100% !important;
  }
}

@media (max-width: 320px) {
  #bricks-component--dllWqWP5IjtasBxmpueog {
    max-width: 280px !important;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  #bricks-component--dllWqWP5IjtasBxmpueog {
    max-width: 310px !important;
  }
}

@media (min-width: 376px) and (max-width: 425px) {
  #bricks-component--dllWqWP5IjtasBxmpueog {
    max-width: 370px !important;
  }
}

@media (min-width: 426px) {
  #bricks-component--dllWqWP5IjtasBxmpueog {
    max-width: 500px !important;
  }
}

#rd-form-m5zotmdl {
  min-width: 100%;
}

#pf-solicitar-ligacao-4fb02f01d08a1d2c529d label {
  color: #717171 !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  font-family: 'Rubik', sans-serif !important;
}

#pf-solicitar-ligacao-4fb02f01d08a1d2c529d input[name="name"],
#pf-solicitar-ligacao-4fb02f01d08a1d2c529d input[name="cf_sobrenome"],
#pf-solicitar-ligacao-4fb02f01d08a1d2c529d input[name="email"],
#pf-solicitar-ligacao-4fb02f01d08a1d2c529d input[name="cf_sobrenome"],
#pf-solicitar-ligacao-4fb02f01d08a1d2c529d input[name="cf_cpf_somente_numeros"],
#pf-solicitar-ligacao-4fb02f01d08a1d2c529d input[name="cf_sobrenome"],
#pf-solicitar-ligacao-4fb02f01d08a1d2c529d input[name="cf_cep"],
#pf-solicitar-ligacao-4fb02f01d08a1d2c529d input[name="mobile_phone"]{
  border: 1px solid #d1d5db !important;
  height: 50px !important;
  font-family: 'Rubik', sans-serif !important;
  padding: 15px !important;
  font-size: 14px !important;
  border-radius: 4px !important;
  box-sizing: border-box !important;
  width: 100% !important;
}

#pf-solicitar-ligacao-4fb02f01d08a1d2c529d input:focus,
#pf-solicitar-ligacao-4fb02f01d08a1d2c529d textarea:focus {
  outline: none !important;
  border-color: #d1d5db !important;
  box-shadow: none !important; 
}

#pf-solicitar-ligacao-4fb02f01d08a1d2c529d input[name="cf_escreva_aqui_sua_mensagem"] {
  height: 150px !important;
  border: 1px solid #d1d5db !important;
  font-family: 'Rubik', sans-serif !important;
  padding: 15px !important;
  font-size: 14px !important;
  border-radius: 4px !important;
  box-sizing: border-box !important;
}

::placeholder {
  color: #9EACB1 !important;
  font-size: 14px !important;
  font-family: 'Rubik', sans-serif !important;
}

.phone-input-group .select2-container {
  display: none !important;
}

#rd-button-m5zotmdq {
  background-color: #0FB2AB!important; 
  color: #ffffff !important;
  font-weight: 600 !important; 
  padding: 0.5rem 1rem !important;
  border-radius: 0.375rem !important; 
  transition: background-color 0.3s ease !important;
  font-size: 14px !important;
  font-family: 'Rubik', sans-serif !important;
}

#rd-button-m5zotmdq:hover {
  background-color: #0FB2AB !important;
}